---
layout: default
title: 404.error
permalink: /404.html
lang: en
---

<div class="container-fluid index error">
  <div class="row">

    <div class="col-md-12 content-panel articles">
      <h1 class="header author-header">{{site.data[page.active_lang]["messages"]["404.error"] }}</h1>

      <div class="error-text">
        {{site.data[page.lang]["messages"]["404.message"]}}
      </div>

      <div class="error-text">
        <a href="{% if page.lang == site.default_lang %} {{site.baseurl}}/
                                                    {% else %}{{site.baseurl}}/{{ page.lang }} {% endif %}">{{site.data[page.lang]["messages"]["view.home"] }}</a> |
        <a href="{% if page.lang == site.default_lang %} {{site.baseurl}}
                                                    {% else %} {{site.baseurl}}/{{ page.lang }}{% endif %}/posts/">{{site.data[page.lang]["messages"]["view.todos-artigos"] }}</a> |
        <a href="{% if page.lang == site.default_lang %} {{site.baseurl}}
                                                    {% else %} {{site.baseurl}}/{{ page.lang }}{% endif %}/search/">{{site.data[page.lang]["messages"]["view.pesquisar"] }}</a>
      </div>

      {% include social_links.html %}

    </div>

  </div>

  <div class="content-panel related col-md-12">
    {% for post in site.posts limit:1 %}
      <div class="related-header">
        <a href="{{ site.baseurl }}{{ post.url }}">{{site.data[page.lang]["messages"]["view.artigos-sugeridos"] }}</a>
      </div>
      <div class="title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{site.data[page.lang]["messages"][post.title]}}</a>
      </div>
      <div class="excerpt">
         {% if post.summary %}
          {{ site.data[page.lang]["messages"][post.summary] | strip_html | truncatewords:30 }}
         {% else %}
          {{ post.excerpt | strip_html | truncatewords:30 }}
         {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">{{site.data[page.lang]["messages"]["view.continue-lendo"] }}</a>
      </div>
    {% endfor %}
  </div>

</div>
