---
layout: default
---


<div class="container-fluid index">
  <div class="row">

    <div class="col-md-12 main content-panel">

      <div class="gravatar">
        <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
      </div>

      <h1 class="header author-header" itemprop="headline">{{ site.short_name }}</h1>

      <div class="subtitle">
        <h2>{{ site.profissao }}</h2>
      </div>

      <div class="author-text">
        Desenvolvedor Web Full stack na <a href="http://logiquesistemas.com.br/">Logique Sistemas</a>.
        <br/>Formado em Engenharia de Computação pela UFRN.
      </div>

      {% include social_links.html %}
    </div>

    <div class="col-md-12 main content-panel">

      <div class="articles">

        <h2>{{site.data[site.active_lang]["messages"]["view.todos-artigos"]}}</h2>

        <ul>
          {% for post in site.posts limit: site.post_limit %}

          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ site.data[site.active_lang]["messages"][post.title] }}</a>
            <small class="hidden-xs">{{ post.date | localize: site.date_format[site.active_lang].long, site.active_lang}}
              <br/>
              {% for tag in post.categories limit: 3%} {{tag | prepend: '#'}} {% endfor %}
            </small>
          </li>

          {% endfor %}

        </ul>

      </div>

    </div>

    <div class="col-md-12 main content-panel">

      <div class="articles">

        <h2>{{site.data[site.active_lang]["messages"]["view.projetos"]}}</h2>

        <ul>
          {% for projeto in site.projects limit: site.project_limit %}

          <li>
            <a href="{{ projeto.url | prepend: site.baseurl }}">{{ site.data[site.active_lang]["messages"][projeto.title] }}</a>
            <small class="hidden-xs">{{ projeto.teacher}}, {{ projeto.semester }}</small><br>
            <h6 class="text-muted"><i>{{ site.data[site.active_lang]["messages"][projeto.summary] | markdownify | truncatewords:30 }}</i></h6>
          </li>

          {% endfor %}

        </ul>

      </div>

    </div>

    <div class="col-md-12">
      <div class="anuncio">
        {% if site.environment == "production"%}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Dudevictor github -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9976909752880073"
             data-ad-slot="9516328345"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %}
      </div>
    </div>

  </div>
</div>
