---
layout: default
---

<div class="container-fluid index">
  <div class="row index all-posts">

    <h2 class="header" itemprop="headline">Todos os projetos UFRN</h2>

      {% for projeto in site.projects %}

        {% if forloop.first %}
        <div class="col-md-12 content-panel projects">
          <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
          <ul>
        {% endif %}

            <li>
              <a href="{{ projeto.url | prepend: site.baseurl }}">{{ projeto.title }}</a>
              <small class="hidden-xs">{{ projeto.teacher }}</small>
            </li>
        {% if forloop.last %}
          </ul>
        </div>
        {% endif %}

      {% endfor %}
    </div>

  </div>
