<div class="footer clearfix">
    <div class="col-md-6">
        Copyright © {{ site.time | date: "%Y" }} by <a href="http://github.com/dudevictor">dudevictor</a>.
        All rights reserved.<br>Theme by <a href="https://twitter.com/_JacobTomlinson">Jacob
        Tomlinson</a>
    </div>
    <div class="col-md-6">
        &lt;/&gt; on <a href="https://github.com/dudevictor/dudevictor.github.io">Github</a> &nbsp;<i class="fa fa-github-alt"></i>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.mmenu.all.min.js"></script>
<script src="{{ site.baseurl }}/js/highlight.min.js"></script>
{% if page.use_math_jax %}
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=br" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: true, width: "90% container" } },
  "SVG": { linebreaks: { automatic: true, width: "90% container" } }
});
</script>
{% endif %}

<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
   $(document).ready(function() {
      var API = $("#my-menu").mmenu({
          counters		: true,
          dividers		: {
              fixed 			: true
          },
          navbar 			: {
              title			: ''
          },
          navbars			: [
              {
                  position	: 'top',
                  content : ['<span>{{ site.author_name }}</span>']
              },
              {
                  position	: 'top'
              },
              {
                  position	: 'bottom',
                  content 	: ["{% include language_links.html %}"]
              }
          ]
      }).data( 'mmenu' );

       API.bind( "closed", function() {
          $(".menu-button").show();
          $("#at4-share, #at-share-dock").each(function() {
              $(this).removeClass("hide");
          });
      });

       $(".menu-button").click(function (e) {
           e.preventDefault();
           API.open();
           $(".menu-button").hide();
           $("#at4-share, #at-share-dock").each(function () {
               $(this).removeClass("at4-show").addClass("hide");
           });

       });
   });
</script>