<nav id="my-menu">
  <div>
    <ul class="pages">
      <li><a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}/
                                                    {% else %}{{site.baseurl}}/{{ site.active_lang }} {% endif %}"><i class="fa fa-home"></i> {{site.data[site.active_lang]["messages"]["view.home"] }}</a></li>
      <li>
        <span><i class="fa fa-archive"></i> {{site.data[site.active_lang]["messages"]["view.todos-projetos"] }}</span>
        <ul>
        {% for projeto in site.projects %}
          <li><a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}{{projeto.url}}
                                                    {% else %}{{site.baseurl}}/{{ site.active_lang }}{{projeto.url}} {% endif %}"><i class="fa fa-{{projeto.thumbnail}}"></i>
            {{site.data[site.active_lang]["messages"][projeto.title]}}</a></li>
        {% endfor %}
        </ul>
      </li>
      <li><a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}
                                                    {% else %} {{site.baseurl}}/{{ site.active_lang }}{% endif %}/posts/"><i class="fa fa-file-text"></i> {{site.data[site.active_lang]["messages"]["view.todos-artigos"] }}</a></li>
      <li><a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}
                                                    {% else %} {{site.baseurl}}/{{ site.active_lang }}{% endif %}/search/"><i class="fa fa-search"></i> {{site.data[site.active_lang]["messages"]["view.pesquisar"] }}</a></li>
    </ul>

    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
