---
layout: default
---
{% assign m = page.date | date: "%-m" %}
{% case m %}
{% when '1' %}{% assign m = 'Janeiro' %}
{% when '2' %}{% assign m = 'Fevereiro' %}
{% when '3' %}{% assign m = 'Março' %}
{% when '4' %}{% assign m = 'Abril' %}
{% when '5' %}{% assign m = 'Maio' %}
{% when '6' %}{% assign m = 'Junho' %}
{% when '7' %}{% assign m = 'Julho' %}
{% when '8' %}{% assign m = 'Agosto' %}
{% when '9' %}{% assign m = 'Setembro' %}
{% when '10' %}{% assign m = 'Outubro' %}
{% when '11' %}{% assign m = 'Novembro' %}
{% when '12' %}{% assign m = 'Dezembro' %}
{% endcase %}
<div class="container-fluid single">
  <div class="row">

    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 project">
      {% if site.data.thumbnail[page.thumbnail] %}
      <div class="thumb">
        <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
      </div>
      {% elsif page.thumbnail %}
      <div class="thumb">
        <i class="fa fa-{{ page.thumbnail }} fa-4x"></i>
      </div>
      {% endif %}

      <h1 class="header" itemprop="name">{{ page.title }}</h1>

      <div class="author">
        <small><i>
          {% if site.short_name %}
          por
          <span itemprop="author">
            {% if site.google_plus_link %}
              <a rel="author" href="{{ site.google_plus_link }}">
            {% endif %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ site.author_name }}</span>
            </span>
            {% if site.google_plus_link %}
              </a>
            {% endif %}
          </span>
          {% endif %}
          em <span itemprop="datePublished" content="2014-08-28">{{ page.date | date:"%-d"}} de {{m}} de {{page.date | date:"%Y"}}</span>
        </i></small>
      </div>

      <div class="read-time">
        <small>
          Prof. {{page.teacher}}, Departamento de Engenharia de Computação, UFRN {{page.semester }}
        </small>
      </div>

      <div class="anuncio-cabecalho">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Cabeçalho Responsivo -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9976909752880073"
             data-ad-slot="1413881545"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      <div class="content-panel content">
        <span itemprop="articleBody">{{ content | toc_generate }}</span>

      </div>
      <div class="anuncio">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Dudevictor github -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9976909752880073"
             data-ad-slot="9516328345"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="content-panel feedback">
        Gostou desta página? Compartilhe ou deixe um comentário abaixo!<br />
        {% if site.addthis_id %}
        <div class="share">
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
        </div>
        {% endif %}
      </div>

      {% if site.disqus_account %}
      <div class="content-panel comments">
        <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
      {% endif %}


      <div class="content-panel related col-md-12">
        {% for project in site.projects limit:3 %}
        {% if project != page %}
        <div class="related-header">
          <a href="{{ site.baseurl }}{{ project.url }}">Páginas Sugeridas</a>
        </div>
        <div class="title">
          <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
          <small class="hidden-xs">{{ projeto.teacher }}</small>

        </div>
        <div class="excerpt">
          {% if project.summary %}
          {{ project.summary | markdownify | truncatewords:30 }}
          {% else %}
          {{ project.excerpt | markdownify | truncatewords:30 }}
          {% endif %}
          <br/><a href="{{ site.baseurl }}{{ project.url }}">Continue Lendo</a>
        </div>
        {% break %}
        {% endif %}
        {% endfor %}
      </div>

    </div>

  </div>

</div>

{% if site.disqus_account %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
function disqus_config() { this.experiment.enable_scroll_container = true; }
var disqus_shortname = "{{ site.disqus_account }}"; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
