---
layout: default
---
<div class="container-fluid single">
  <div class="row">

    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 project">
      {% if site.data.thumbnail[page.thumbnail] %}
      <div class="thumb">
        <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
      </div>
      {% elsif page.thumbnail %}
      <div class="thumb">
        <i class="fa fa-{{ page.thumbnail }} fa-4x"></i>
      </div>
      {% endif %}

      <h1 class="header" itemprop="name">{{ site.data[site.active_lang]["messages"][page.title] }}</h1>

      <div class="author">
        <small><i>
          {% if site.short_name %}
          {{site.data[site.active_lang]["messages"]["view.por"]}}
          <span itemprop="author">
            {% if site.google_plus_link %}
              <a rel="author" href="{{ site.google_plus_link }}">
            {% endif %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ site.author_name }}</span>
            </span>
            {% if site.google_plus_link %}
              </a>
            {% endif %}
          </span>
          {% endif %}
          {{site.data[site.active_lang]["messages"]["view.em"]}} <span itemprop="datePublished" content="2014-08-28">{{ page.date | localize: site.date_format[site.active_lang].long, site.active_lang}}</span>
        </i></small>
      </div>

      <div class="read-time">
        <small>
          Prof. {{page.teacher}}, Departamento de Engenharia de Computação, UFRN {{page.semester }}
        </small>
      </div>

      {% include anuncio-cabecalho.html %}

      <div class="content-panel content">
        <span itemprop="articleBody">{{ content | toc_generate }}</span>

      </div>
      {% include anuncio-rodape.html %}
      <div class="content-panel feedback">
        {{site.data[site.active_lang]["messages"]["view.gostou-pagina"]}}<br />
        {% if site.addthis_id %}
        <div class="share">
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
        </div>
        {% endif %}
      </div>

      {% if site.disqus_account %}
      <div class="content-panel comments">
        <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
      {% endif %}


      <div class="content-panel related col-md-12">
        {% for project in site.projects limit:3 %}
        {% if project != page %}
        <div class="related-header">
          <a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}{{project.url}}
          {% else %} {{site.baseurl}}/{{ site.active_lang }}{{project.url}} {% endif %}">{{site.data[site.active_lang]["messages"]["view.paginas-sugeridas"]}}</a>
        </div>
        <div class="title">
          <a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}{{project.url}}
          {% else %} {{site.baseurl}}/{{ site.active_lang }}{{project.url}} {% endif %}">{{ site.data[site.active_lang]["messages"][project.title] }}</a>

        </div>
        <div class="excerpt">
          {% if project.summary %}
          {{ site.data[site.active_lang]["messages"][project.summary] | markdownify | truncatewords:30 }}
          {% else %}
          {{ project.excerpt | markdownify | truncatewords:30 }}
          {% endif %}
          <br/><a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}{{project.url}}
          {% else %} {{site.baseurl}}/{{ site.active_lang }}{{project.url}} {% endif %}">{{site.data[site.active_lang]["messages"]["view.continue-lendo"]}}</a>
        </div>
        {% break %}
        {% endif %}
        {% endfor %}
      </div>

    </div>

    {% include anuncio-lateral.html %}

  </div>



</div>

{% if site.disqus_account %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
function disqus_config() { this.experiment.enable_scroll_container = true; }
var disqus_shortname = "{{ site.disqus_account }}"; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
